<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DSAlgoViz - Quiz Creator</title>

    <%- include("./partials/csslibs.ejs") %>
    <link rel="stylesheet" href="/css/navbar.css" />
    <link rel="stylesheet" href="/css/create-quiz.css" />
    <link rel="icon" href="/images/title_logo.png" type="image/icon type" />
  </head>

  <body>
    <%- include("partials/navbar.ejs", {page: typeof page === "string" ? page :
    "info"}) %>

    <main>
      <div class="toptext">
        <h1 style="color: #353535"><%= info %></h1>
      </div>

      <!-- Copyright -->
      <div class="cpr" style="color: #4b50b9">
        DSAlgoviz Copyright © 2023. All rights reserved.
      </div>
      <!-- Copyright -->
    </main>
  </body>
</html>
